{% import "components/icons.html.twig" as icons %}

<footer class="footer">
    <div>
        <div class="footer-social-networks">
            <a href="https://twitter.com/boileau_thomas" target="_blank" rel="noreferrer">
                <span class="sr-only">Twitter</span>
                {{ icons.twitter() }}
            </a>
            <a href="https://www.twitch.tv/toham" target="_blank" rel="noreferrer">
                <span class="sr-only">Twitch</span>
                {{ icons.twitch() }}
            </a>
            <a href="https://github.com/TBoileau" target="_blank" rel="noreferrer">
                <span class="sr-only">GitHub</span>
                {{ icons.github() }}
            </a>
            <a href="https://discord.gg/toham" target="_blank" rel="noreferrer">
                <span class="sr-only">Discord</span>
                {{ icons.discord() }}
            </a>
        </div>
        <div class="footer-copyright">
            <p>
                &copy; {{ "now"|date("Y") }} Thomas Boileau. All rights reserved.
            </p>
        </div>
    </div>
</footer>